.card{
    width: 200px;
    height:300px;
    position: relative;
    transition: transform 2s;
    cursor: pointer;
    box-shadow: 10px 15px 20px black;
    border-radius: 10px;
    border: 2px solid #a5b1c2;
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: center;
    background-color: orangered;

}

.card:hover{
    transform: rotateY(360deg);
    text-decoration: double;
    background-color: lightblue;
}
